.blog {
  header h1 {
    font-size: 4em;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.0em;
    margin-top: 1em;
  }
}
.blog-index {
  margin: 10em 0;
}

.blog-post {
  h2, h3 {
    @extend .col-xs-24 !optional;
    @extend .col-sm-20 !optional;
    @extend .col-sm-offset-2 !optional;
    @extend .col-md-16 !optional;
    @extend .col-md-offset-4 !optional;
  }
  h3::after {
    content: ' ';
    display: table;
    color: blue;
  }

  p {
    @extend .col-xs-24 !optional;
    @extend .col-sm-20 !optional;
    @extend .col-md-16 !optional;
    @extend .col-sm-offset-2 !optional;
    @extend .col-md-offset-4 !optional;
  }
  p::before {
    content: ' ';
    display: table;
  }

  img {
    max-width: 100%;
  }
}