// Couldn't get this to work
// 

@font-face {
  font-family: "Akkurat Pro";
  src: url('../type/lineto-akkurat-pro-regular.eot?') format('eot'), url('../type/lineto-akkurat-pro-regular.woff') format('woff'), url('../type/lineto-akkurat-pro-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Akkurat Pro";
  src: url('../type/lineto-akkurat-pro-bold.eot?') format('eot'), url('../type/lineto-akkurat-pro-bold.woff') format('woff'), url('../type/lineto-akkurat-pro-bold.ttf') format('truetype');
  font-weight: bold;
}