// Off-canvas Navigation System
// hydrogen/_navigation.scss

html, body {
  overflow-x: hidden;
}

// Mobile and Tablet (v)
//------------------------------------------------
@media only screen and (max-width: 48em) {
	nav#nav {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    margin:0;
    backface-visibility: hidden;
    ul {
      padding:11px 24px 0;
    }
    ul li {
      padding-top: 8px;
      color: $color-primary;
    }
  }
  nav#mobile {
    position: fixed;
    z-index: $z3;
    background-color: $body-background;
    padding:1em 0;
    top: 0;
    backface-visibility: hidden;
  }
  .nav-right {
    -webkit-transform: translate3d(240px,0,0);
    -moz-transform: translate3d(240px,0,0);
    -ms-transform: translate3d(240px,0,0);
    -o-transform: translate3d(240px,0,0);
    transform: translate3d(240px,0,0);
  }
  .nav-open {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .main-inactive {
    -webkit-transform: translate3d(-240px,0,0);
    -moz-transform: translate3d(-240px,0,0);
    -ms-transform: translate3d(-240px,0,0);
    -o-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
  }

  #nav, #main {
    -webkit-transition: -webkit-transform .25s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .25s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .25s cubic-bezier(.16, .68, .43, .99);
    transition: transform .25s cubic-bezier(.16, .68, .43, .99);
  }
}

// Tablet (h)
//------------------------------------------------
@media only screen and (min-width: 48.063em) and (max-width: 64em) {
}

// Tablet (h) and Desktop
//------------------------------------------------
@media only screen and (min-width: 48.063em) {
  #nav {
    top: 0;
    left: 0;
    right: 0;
    display: block;
    position: fixed;
    z-index: $z3;
    color: $body-font-color;
    backface-visibility: hidden;
  }
}

// Global
//------------------------------------------------
.nav-button {
  position: absolute;
	display: block;
  top: -0.5em;
  right: 0.5em;
  width: 3em;
  height: 3em;
  -webkit-transform: translate3d(0,0,0);
  z-index: $z3;
}
.nav-button span:after {
	content: "";
	position: absolute;
	display: block;
	height: 0;
	top: 1em;
	left: 1em;
	box-shadow: 0 0 0 0.0625rem $color-primary, 0 0.45rem 0 0.0625rem $color-primary, 0 0.9rem 0 0.0625rem $color-primary;
	width: 1em;
  z-index: $z3;
}
.nav-overlay {
  display: none;
  position: fixed;
}
.nav-active {
  overflow: hidden;
  height: 100%;
}
.nav-active .nav-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z4;
  background-color: rgba(136, 136, 136, 0.5);
  @include animation(fade 0.5s);
}
.nav-transition { // headroom init
  @include transition(all 0.375s ease-out);
}
.nav-down { // headroom scroll up
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.nav-up { // headroom scroll down
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}