// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Settings
// stylesheets/_settings.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


// Breakpoints
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$screen-xs-min: 20.0625em;   // min breakpoint for mobile-l (321px)
$screen-xs-max: 40em;       // max breakpoint for mobile-l (640px)
$screen-sm-min: 40.0625em;   // min breakpoint for tablet   (641px)
$screen-sm-max: 60em;       // max breakpoint for tablet   (960px)
$screen-md-min: 60.0625em;   // min breakpoint for desktop  (961px)
$screen-md-max: 80em;       // max breakpoint for desktop  (1280px)
$screen-lg-min: 80.0625em;   // min breakpoint for desktop+ (1281px)
$screen-lg-max: 100em;      // max breakpoint for desktop+ (1600px)
$screen-xl-min: 100.0625em;  // min breakpoint for desktop+ (1601px)
$screen-xl-max: 120em;      // max breakpoint for desktop+ (1920px)


// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$grid-gutter: 0.5rem;  // 16px grid gutter
$grid-columns: 12;          // 12 column grid
$grid-xs-width: 100vw;  // 100%
$grid-xs-padding: 1rem;   // 16px
$grid-sm-width: 100vw;  // 100%
$grid-sm-padding: 1rem;  // 16px
$grid-md-width: 100vw;  // 100%
$grid-md-padding: 1rem;     // 16px
$grid-lg-width: 84rem;  // 1280px + 64px
$grid-lg-padding: 2rem;     // 32px
$grid-xl-width: 106rem; // 1600px + 96px
$grid-xl-padding: 3rem;     // 48px


// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$color-black: #282633;
$color-black: #17132c;
// $color-black: #fb835d;
// $color-black: #4662d6;
$color-white: #FFFFFF;
$color-shadow: rgba(15, 13, 32, 0.25);
$color-gray-1: #f7f8f9;
$color-gray-2: #eaeaea;
$color-gray-3: #B0AFB2;


$color-gray-4: #d4d4d4;
$color-gray-5: #4A4A4D;

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$font-family-1: "PxGroteskRegular-Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$font-family-2: "AkkuratRegular-Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$font-family-3: "AkkuratMono-Regular", "Courier New", "Courier", monospace;

// Font Sizes
$font-size-1: 68; // micro
$font-size-2: 44; // small
$font-size-3: 36; // base
$font-size-4: 24; // medium
$font-size-5: 21; // large
$font-size-6: 16; // extra large
$font-size-7: 12; // super large
$font-size-8: 68px; // ultra large
$font-size-9: 90px; // mega large


// Transitions
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// $transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
$transition: cubic-bezier(0.16, 0.68, 0.43, 0.99);


// Z-Index
// - - - - - - - - - - - - - - - -
$z6: 6;  // mobile nav mobile / alerts
$z5: 5;  // mobile nav mobile / alerts
$z4: 4;  // nav menus
$z3: 3;  // buttons and button menus
$z2: 2;  // layout overlays
$z1: 1;  // everything else
$z0: -1; //


