// Social Styles
// social.scss
.button-svg {
	.fill {
		fill: $body-background;
		stroke: none;
		@include transition(all $transition-speed $transition-easing)
	}
	.stroke {
		fill: none;
		stroke: $body-background;
		@include transition(all $transition-speed $transition-easing)
	}
}

.white .button-svg {
	.fill {
		fill: $color-white;
		stroke: none;
	}
	.stroke {
		fill: none;
		stroke: $color-white;
	}
}
.white:hover .button-svg {
	.fill {
		fill: $color-gray-3;
	}
	.stroke {
		stroke: $color-gray-3;
	}
}