@charset "utf-8";

@import "normalize";
@import "hydrogen";
@import "social";
@import "header";
@import "footer";

article {
	margin-top: 12em;
}

article.home {
  // color: #54524d;

  .link {
    margin-bottom: 2.0em;
  }

  a {
    display: inline-block;
    padding-bottom: 0.08em;
    border-bottom: 2px solid #ccc;

    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 22px;
    font-size: 1.375rem;

    transition: border 300ms linear;
    &:hover {
      border-color: #888;
    }
  }

  p {
    letter-spacing: 0;
  }

  span {
    font-style: normal;
    font-weight: 400;
    line-height: 1.618;
    letter-spacing: 0;
    font-size: 22px;
    font-size: 1.375rem;
  }

  header {
    margin-bottom: 8em;
    h1 {
      font-size: 4em;
      line-height: 1.2;
      font-weight: 400;
      // color: #54524d;
      letter-spacing: 0.0em;
    }
    span.dash {
      display: block;
      width: 24px;
      height: 4px;
      background: rgb(51, 51, 51);
      margin: 10em 0 1em;
    }
    p {
      // color: #54524d;
      letter-spacing: 0.01em;
      font-size: 1.2rem;
    }
  }

  section.gray {
    padding: 6em 0 8em;
    margin-bottom: 4em;
    background: #e5e5ea;
    h6 {
      text-align: center;
      font-size: 0.8em;
      font-weight: normal;
      letter-spacing: 0.2em;
    }
    h2 {
      text-align: center;
      font-size: 2.4em;
      line-height: 1.7;
      font-weight: 400;
      // color: #54524d;
      letter-spacing: -0.01em;
    }
    .base-image {
      display: block;
      width: 100%;
      height: 240px;
      background: #fff;
      margin-top: 5em;
      margin-bottom: 1em;
    }
    h3 {
      font-size: 1.4em;
      line-height: 1.7;
      font-weight: 400;
      // color: #54524d;
      letter-spacing: -0.01em;
    }
    h4 {
      margin-bottom: 1em;
    }
    p {
      font-size: 1em;
    }
  }
}