<div class="footer__breadcrumbs">
  <% link_to config.base_url, class: "footer__link footer__link--home" do %>
    <span class="u-hide-xs u-show-sm">Dixon </span>&<span class="u-hide-xs u-show-sm"> Moe</span>
  <% end %>
  <% if local_paths.any? %>
    <ol class="footer__list" itemscope itemtype="https://schema.org/BreadcrumbList">
      <% local_paths.each_with_index do |path, index| %>
        <span class="footer__caret">›</span>
        <li class="footer__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="<%= path[:url] %>" class="footer__link" itemprop="item" itemscope itemtype="https://schema.org/<%= path[:type] %>">
            <span class="footer__title" itemprop="name"><%= path[:title] %></span>
          </a>
          <meta itemprop="position" content="<%= index + 1 %>">
        </li>
      <% end %>
    </ol>
  <% end %>
</div>