<section class="page-section page-section--contact">
  <div class="page-section__text">
    <h2 class="page-section__title">Have a project or idea? Drop us a line.</h2>
    <div class="page-section__icon">
      <h5 class="page-text__icon">C1</h5>
    </div>
    <div class="page-section__group page-section__group--large">
      <h5 class="page-text__kicker">New Business</h5>
      <p class="page-text__summary">Robert Yuen<br><%= link_to "robert@dixonandmoe.com", "mailto:robert@dixonandmoe.com", class: "page-text__link", title: "Email Robert Yuen" %><br><span class="page-text__link">+1 (650) 761–2880</span></p>
    </div>
    <div class="page-section__group page-section__group--small">
      <h5 class="page-text__kicker">Our Office</h5>
      <p class="page-text__summary">165 11th Street<br>San Francisco, CA<br>94103</p>
    </div>
    <div class="page-section__group page-section__group--small">
      <h5 class="page-text__kicker">Elsewhere</h5>
      <p class="page-text__summary">
        <%= link_to "Twitter", "https://twitter.com/dixonandmoe", class: "page-text__link", title: "Dixon & Moe on Twitter", target: "_blank" %><br>
        <%= link_to "LinkedIn", "https://www.linkedin.com/company/dixon-&-moe", class: "page-text__link", title: "Dixon & Moe on LinkedIn", target: "_blank" %>
      </p>
    </div>
  </div>
</section>