<footer id="footer" role="contentinfo">
	<section class="row">

		<%# Credits %>
		<div class="col-md-8 credits">
			<h5>Designed By</h5>
			<h3><%= link_to "Dixon & Moe", "http://dixonandmoe.com/" %></h3>
		</div>

		<%# Contact %>
		<div class="col-md-5 contact">
			<h5>Contact</h5>
			<h4><%= link_to "Email", "mailto:moe@zeppelin.io" %></h4>
		</div>

		<%# Socialize %>
		<div class="col-md-5 social">
			<h5>Socialize</h5>
			<h4><%= link_to "Twitter", "https://twitter.com/dixonandmoe" %></h4>
		</div>

		<%# Copyright %>
		<div class="col-md-5 copyright">
			<h5>&copy; 2015 Dixon &amp; Moe </h5>
		</div>

	</section>
</footer>