<nav id="nav" class="nav-right" vocab="http://schema.org/" typeof="SiteNavigationElement" role="navigation">

	<%# Main Nav Links %>
	<div class="row">

		<ul class="col-md-9 float-left">
			<%# Logo %>
			<% active_link_to "/", property: "url" do %>
				<li property="name">
					<h3>WORK</h3>
				</li>
			<% end %>

			<%# Color Picker %>
			<% active_link_to "/html-color-picker/", property: "url" do %>
				<li property="name">
					<h3>BLOG</h3>
				</li>
			<% end %>
		</ul>

		<ul class="col-md-6 float-center">
			<% active_link_to "/html-color-picker/", property: "url" do %>
				<li property="name">
					<h1>Dixon &amp; Moe</h1>
				</li>
			<% end %>
		</ul>

		<ul class="col-md-9 float-right">
			<%# Color Chart %>
			<% active_link_to "/html-color-chart/", property: "url" do %>
				<li property="name">
					<h3>FUN</h3>
				</li>
			<% end %>

			<%# Color Names %>
			<% active_link_to "/html-color-names/", property: "url" do %>
				<li property="name">
					<h3>CONTACT</h3>
				</li>
			<% end %>
		</ul>

	</div>
</nav>