<nav id="nav" class="nav-right" vocab="http://schema.org/" typeof="SiteNavigationElement" role="navigation">
	
	<%# Main Nav Links %>
	<ul class="row">

		<%# Logo %>
		<% active_link_to "/", property: "url" do %>
			<li class="col-md-3" property="name">
				<h3>Logo</h3>
			</li>
		<% end %>

		<%# Color Picker %>
		<% active_link_to "/html-color-picker/", property: "url" do %>
			<li class="col-md-4" property="name">
				<h3>Work</h3>
			</li>
		<% end %>

		<%# Color Chart %>
		<% active_link_to "/html-color-chart/", property: "url" do %>
			<li class="col-md-4 chart" property="name">
				<h3>Blog</h3>
			</li>
		<% end %>

		<%# Color Names %>
		<% active_link_to "/html-color-names/", property: "url" do %>
			<li class="col-md-4" property="name">
				<h3>Stuff</h3>
			</li>
		<% end %>

		<%# Color Palettes %>
		<% active_link_to "/color-palette-generator/", property: "url" do %>
			<li class="col-md-4" property="name">
				<h3>Things</h3>
			</li>
		<% end %>

		<% active_link_to "/tutorials/", property: "url" do %>
			<li class="col-md-4" property="name">
				<h3>More</h3>
			</li>
		<% end %>
	</ul>
</nav>