// Animations
// hydrogen/animations.scss


// Animate Speeds
//------------------------------------------------
.animate,
.animate-250,
.animate-500,
.animate-750 {
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both; 
}
.animate {
  -webkit-animation-duration: 375ms;
     -moz-animation-duration: 375ms;
       -o-animation-duration: 375ms;
          animation-duration: 375ms;
}
.animate-250 {
  -webkit-animation-duration: 250ms;
     -moz-animation-duration: 250ms;
       -o-animation-duration: 250ms;
          animation-duration: 250ms;
}
.animate-500 {
  -webkit-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
       -o-animation-duration: 500ms;
          animation-duration: 500ms;
}
.animate-750 {
  -webkit-animation-duration: 750ms;
     -moz-animation-duration: 750ms;
       -o-animation-duration: 750ms;
          animation-duration: 750ms;
}
.delay-125 {
  -webkit-animation-delay: 125ms;
     -moz-animation-delay: 125ms;
       -o-animation-delay: 125ms;
          animation-delay: 125ms;
}

// Fade
//------------------------------------------------
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
  -webkit-animation-name: fadeIn;
     -moz-animation-name: fadeIn;
       -o-animation-name: fadeIn;
          animation-name: fadeIn;
                overflow: hidden;
}

// Slide Down
//------------------------------------------------
@-webkit-keyframes slideDown {
  0% {-webkit-transform: translateY(-100%);}
  100% {-webkit-transform: translateY(0);}
}
@-moz-keyframes slideDown {
  0% {-moz-transform: translateY(-100%);}
  100% {-moz-transform: translateY(0);}
}
@-o-keyframes slideDown {
  0% {-o-transform: translateY(-100%);}
  100% {-o-transform: translateY(0);}
}
@keyframes slideDown {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}
.slideDown {
  -webkit-animation-name: slideDown;
     -moz-animation-name: slideDown;
       -o-animation-name: slideDown;
          animation-name: slideDown;
}

// Slide Up
//------------------------------------------------
@-webkit-keyframes slideUp {
  0% {-webkit-transform: translateY(0);}
  100% {-webkit-transform: translateY(-100%);}
}
@-moz-keyframes slideUp {
  0% {-moz-transform: translateY(0);}
  100% {-moz-transform: translateY(-100%);}
}
@-o-keyframes slideUp {
  0% {-o-transform: translateY(0);}
  100% {-o-transform: translateY(-100%);}
}
@keyframes slideUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-100%);}
}
.slideUp {
  -webkit-animation-name: slideUp;
     -moz-animation-name: slideUp;
       -o-animation-name: slideUp;
          animation-name: slideUp;
}