---
itemtype: Article
title: How to Form an LLC in California
date: 2016-02-26
changefreq: "weekly"
priority: 0.5
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "how-to-form-an-llc-in-california-dixon-and-moe.jpg",
    local_title:       "How to Form an LLC in California — Dixon & Moe",
    local_description: "Branding, development and design."
  }) %>
<% end %>

<%# Article %>
<article class="guide">

  <%# Article Header %>
  <header class="guide-header">
    <div class="guide-header__graphic"></div>
    <div class="row">
      <div class="col-xs-24 col-sm-21 col-md-16 col-lg-12 col-lg-offset-2">
        <h1 class="guide-header__title" itemprop="headline"><%= current_page.data.title %></h1>
        <span class="guide-header__date">Updated
          <time datetime="<%= current_page.data.date %>" itemprop="datePublished"><%= current_page.data.date.strftime("%b %d, %Y") %></datetime>
        </span>
        <p itemprop="description">Page description</p>
      </div>
    </div>
  </header>

  <%# Article Content %>
  <section class="guide-content" itemprop="articleBody">
    <div class="row">
      <div class="col-xs-24 col-sm-21 col-sm-offset-3 col-md-15 col-md-offset-2">
        <%# Choose a Name for Your Company %>
        <div class="guide-content__section">
          <h2 class="guide-content__title">Choose a Name for Your Company</h2>
          <h5 class="guide-content__subtitle">— / free</h5>
          <p class="guide-content__paragraph">What may very well be the most difficult (and/or most time consuming) part of forming an LLC is selecting a name. We opted to just use the names by which clients and friends knew us already, but your case may be different. Whatever you choose to call your company, do a <a href="http://kepler.sos.ca.gov/" class="guide-content__link" title="California Secretary of State Business Search" target="_blank">quick search</a> to see if the name is currently in use in California or has been <a href="http://tmsearch.uspto.gov/" class="guide-content__link" title="USPTO Trademark Electronic Search System" target="_blank">trademarked</a> by someone else. All LLC names must include some form of "Limited Liability Company", "L.L.C." or "LLC", and cannot be too similar to another existing company's name. More detailed information regarding name requirements and availability can be found on the Secretary of State's <a href="http://www.sos.ca.gov/business-programs/business-entities/name-availability/" class="guide-content__link" title="California Business Entities Name Availability" target="_blank">Business Entities website</a>.</p>
          <p class="guide-content__paragraph">
            <a href="http://kepler.sos.ca.gov/" class="guide-content__link" title="California Secretary of State Business Search" target="_blank">California Business Search</a><br>
            <a href="http://tmsearch.uspto.gov/" class="guide-content__link" title="USPTO Trademark Electronic Search System" target="_blank">USPTO Trademark Search</a>
          </p>
        </div>
        <%# Select A Registered Agent %>
        <div class="guide-content__section">
          <h2 class="guide-content__title">Select a Registered Agent</h2>
          <h5 class="guide-content__subtitle">30 min / $50</h5>
          <p class="guide-content__paragraph">A registered agent is a third-party individual or company that accepts legal, tax and other government issued documents on behalf of your LLC. Yes, you can technically serve as your own registered agent, but most literature (and lawyers) advise against it, and at $35 &ndash; $50 a year it really won't set you back too much. The process is very easy, and can be done entirely online; just make sure the agent you select is on the California Business Program's <a href="http://www.sos.ca.gov/business-programs/private-service-companies/" class="guide-content__link" title="California Business Programs Private Service Companies" target="_blank">list of private service companies.</a></p>
          <p class="guide-content__paragraph">
            <a href="http://www.cacorporateagents.com/" class="guide-content__link" title="California Corporate Agents" target="_blank">California Corporate Agents</a> ($50 / year, our agents)<br>
            <a href="http://www.californiaregisteredagents.net/" class="guide-content__link" title="California Registered Agents" target="_blank">California Registered Agents</a> ($35 / year, another option)
          </p>
        </div>
        <%# File Your Articles of Incorporation %>
        <div class="guide-content__section">
          <h2 class="guide-content__title">File Your Articles of Organization</h2>
          <h5 class="guide-content__subtitle">30 days / $75</h5>
          <p class="guide-content__paragraph">Download <a href="http://bpd.cdn.sos.ca.gov/llc/forms/llc-1.pdf" class="guide-content__link" title="Form LLC-1 Articles of Organization" target="_blank">Form LLC-1 Articles of Organization</a>, and fill it out with your information, including your company's name, address, managers, and registered agent. If your registered agent is a corporation remember to only put the agent's name and state (don't include their address).</p>
          <p class="guide-content__paragraph">Print, sign, and mail the form to the Secretary of State's office, and include a check for $70. If you want the returned copy certified — always a good idea, but will add about a week to processing time — also include a seperate check for $5, and a simple note indicating your certification request. Alternatively, you can drop the form off at their Sacramento office for an extra $15, with the option to request <a href="http://www.sos.ca.gov/business-programs/business-entities/service-options/" class="guide-content__link" title="California Business Entities Service Options" target="_blank">faster processing</a> (only available in person). Normal processing takes around 15 &ndash; 30 days based on our experience, and to verify you're in the system search your company's name in the <a href="http://kepler.sos.ca.gov/" class="guide-content__link" title="California Secretary of State Business Search" target="_blank">California Business Search</a>.</p>
          <p class="guide-content__paragraph">
            <a href="http://bpd.cdn.sos.ca.gov/llc/forms/llc-1.pdf" class="guide-content__link" title="Form LLC-1 Articles of Incorporation" target="_blank">Form LLC-1</a><br>
            <a href="http://www.sos.ca.gov/business-programs/business-entities/filing-tips/filing-tips-llc/#llc1" class="guide-content__link" title="Form LLC-1 Filing Tips" target="_blank">Form LLC-1 Filing Tips</a>
          </p>
        </div>

        <%# File Your Statement of Information %>
        <div class="guide-content__section">
          <h2 class="guide-content__title">File Your Statement of Information</h2>
          <h5 class="guide-content__subtitle">21 days / $25</h5>
          <p class="guide-content__paragraph">Once you've completed your Articles of Organization (and received your return copy), you'll need to file a Statement of Information with the California Secretary of State within 90 days. Download <a href="http://bpd.cdn.sos.ca.gov/llc/forms/llc-12.pdf" class="guide-content__link" title="Form LLC-12 Statement of Information" target="_blank">Form LLC-12 Statement of Information</a> and fill it out. You'll find your company's "Secretary of State file number" (item 2) stamped on the top right-hand corner of the returned copy of your Articles of Organization (the long number beginning with the current year).</p>

          <p class="guide-content__paragraph">Print, sign, and mail the form along with a check for $20, plus a $5 check and note if you want a certified return copy. Turnaround time was about 3 weeks in our case, but you can also check <a href="" class="guide-content__link" title="Statement of Information Processing Time" target="_blank">current processing times</a> to get a better estimate.</p>
          <p class="guide-content__paragraph">
            <a href="http://bpd.cdn.sos.ca.gov/llc/forms/llc-12.pdf" class="guide-content__link" title="Form LLC-12 Statement of Information" target="_blank">Form LLC-12</a><br>
            <a href="http://www.sos.ca.gov/business-programs/business-entities/statements" class="guide-content__link" title="Business Entities Statements of Information" target="_blank">Statements of Information</a>
          </p>
        </div>

        <%# Get an EIN Number %>
        <div class="guide-content__section">
          <h2 class="guide-content__title">Get an EIN Number</h2>
          <h5 class="guide-content__subtitle">30 min / free</h5>
          <p class="guide-content__paragraph">For banking, tax and payroll purposes it's a good a idea to apply for an EIN number, also known as an Employer Identification Number. The whole process takes about 15 &ndash; 30 minutes and can be done entirely online; just make sure you apply during their business hours of Monday &ndash; Friday, 9 &ndash; 5 EST (otherwise you'll be unable to submit your application).</p>
          <p class="guide-content__paragraph">
            <a href="" class="guide-content__link" title="Form LLC-12 Statement of Information" target="_blank">Form LLC-12</a><br>
            <a href="" class="guide-content__link" title="Form LLC-12 Filing Tips" target="_blank">Form LLC-12 Filing Tips</a>
          </p>
        </div>
      </div>
    </div>
  </section>



  <footer class="guide-footer">


  </footer>
</article>