.bio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  width: $gpx0;
  font-size: $gpx8;
  line-height: $gpx7;
  height: $gpx2;
  @media only screen and (min-width: $screen-sm-min) {
    width: $gpx1;
    font-size: $gpx9;
    line-height: $gpx8;
    height: $gpx3;
  }
}

.bio-prompt {
  width: calc(100% - 61.8%);
}

.bio-influences {
  width: 61.8%;
  margin: 1rem;
}