// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Layout
// stylesheets/blocks/_layout.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html,
body {
  color: $color-black;
  font-family: $font-family-2;
}
body {
  width: 100vw;
  overflow-x: hidden;
  @media only screen and (max-resolution: 191.8dpi) {
    -webkit-font-smoothing: antialiased;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}


*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

::selection {
  color: $color-white;
  background: rgba(15, 13, 32, 0.99);
}
::-moz-selection {
  color: $color-white;
  background: rgba(15, 13, 32, 0.99);
}

.body-header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.is-scrolled .body-header {
  @media only screen and (min-width: $screen-sm-min) {
    position: fixed;
  }
}
.body-content {

}