// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Layout
// stylesheets/blocks/_layout.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Why html, body
html,
body {
  color: #000;
  font-family: $font-family-2;
  overflow-x: hidden;
  @media only screen and (max-resolution: 191.8dpi) {
    -webkit-font-smoothing: antialiased;
  }
  background-color: $background-color-1;

  font-size: $gpx6;
  @media only screen and (min-width: $screen-sm-min) {
    font-size: $gpx7;
  }
}

body {
  @media only screen and (min-width: $screen-xs-min) {
    width: $gpx0;
  }
  @media only screen and (min-width: $screen-sm-min) {
    width: $gpx1;
    position: relative;
    margin: 0 auto;
  }
  // @media only screen and (min-width: $screen-lg-min) {
    // padding: 0 6em;
  // }
  // @media only screen and (min-width: $screen-xl-min) {
  //   padding: 0 calc(50% - 40em) 5em;
  // }
}

// body section {
//   padding: 0 2rem;
//   // @media only screen and (min-width: $screen-xs-min) {
//   //   padding: 0 1em;
//   // }
//   // @media only screen and (min-width: $screen-sm-min) {
//   //   padding: 0 4em;
//   // }
//   // @media only screen and (min-width: $screen-lg-min) {
//   //   padding: 0 6em;
//   // }
//   // @media only screen and (min-width: $screen-xl-min) {
//   //   padding: 0 calc(50% - 40em) 5em;
//   // }
// }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}


*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

::selection {
  color: $color-white;
  background: rgba(15, 13, 32, 0.99);
}
::-moz-selection {
  color: $color-white;
  background: rgba(15, 13, 32, 0.99);
}


.link {
  text-decoration: underline;
}

.shake-custom-1 {
  @include do-shake(
        $name: 'shake-custom-1',
        $h: 0px,
        $v: 0px,
        $r: 8deg,
        $dur: 2000ms,
        $precision: .03,
        $opacity: false, 
        $q: infinite,
        $t: linear,
        $delay: 500ms,
        $chunk: 35%);
}

.shake-custom-2 {
  @include do-shake(
        $name: 'shake-custom-2',
        $h: 0px,
        $v: 0px,
        $r: 8deg,
        $dur: 2000ms,
        $precision: .03,
        $opacity: false, 
        $q: infinite,
        $t: linear,
        $delay: 500ms,
        $chunk: 35%);
}

.shake-custom-3 {
  @include do-shake(
        $name: 'shake-custom-3',
        $h: 0px,
        $v: 0px,
        $r: 8deg,
        $dur: 2000ms,
        $precision: .03,
        $opacity: false, 
        $q: infinite,
        $t: linear,
        $delay: 500ms,
        $chunk: 35%);
}

.shake-custom-4 {
  @include do-shake(
        $name: 'shake-custom-4',
        $h: 0px,
        $v: 0px,
        $r: 8deg,
        $dur: 2000ms,
        $precision: .03,
        $opacity: false, 
        $q: infinite,
        $t: linear,
        $delay: 500ms,
        $chunk: 35%);
}

.shake-custom-5 {
  @include do-shake(
        $name: 'shake-custom-5',
        $h: 0px,
        $v: 0px,
        $r: 8deg,
        $dur: 2000ms,
        $precision: .03,
        $opacity: false, 
        $q: infinite,
        $t: linear,
        $delay: 500ms,
        $chunk: 35%);
}

.hr-top {
  margin-top: 0;
}

.hr-bottom {
  margin-bottom: 0;
}

a, a:active, a:hover, a:visited {
  color: black;
}
