// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Cases
// stylesheets/blocks/_cases.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.case-header {
  padding: 11.25em 0 5em;
}
.case-header__text {
  position: relative;
  width: 100%;
  padding: 0 0.875em;
  @media only screen and (min-width: $screen-sm-min) {
    padding: 0 1em;
  }
  @media only screen and (min-width: $screen-md-min) {
    padding: 0 2em;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 0 calc(50% - 40em);
  }
}
.case-header__title {
  margin: 0;
  font-size: 68 / 16 * 1rem;
  font-family: $font-family-1;
  font-weight: 400;
  line-height: 1;
}
.case-header__abstract {
  margin: 1em 0 0.66667em;
  font-size: 24 / 16 * 1rem;
  font-family: $font-family-2;
  font-weight: 400;
  line-height: 1.2;
}
.case-header__byline {
  font-size: 12 / 16 * 1rem;
  font-family: $font-family-3;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
.case-header__byline:before {
  content: "Client";
  color: $color-gray-3;
  margin-right: 1rem;
}
.case-header__byline.is-venture:before {
  content: "Venture";
}
.case-header__link {
  color: $color-black;
}
.case-header__hero {
  position: relative;
  width: 100%;
  min-height: 30em;
  padding-top: 5em;
}
.case-header__hero--imagewall {
  height: 45em;
}
.case-header__hero--zahner {
  padding-bottom: 2em;
}
// .case-header__hero--imagewall {
//   height: 45em;
//   background-color: #f7f9f9;
// }
.case-header__background {
  position: absolute;
  width: 100%;
}
.case-header__background--imagewall {
  width: 100%;
  height: 45em;
  overflow: hidden;
  background-color: #f7f9f9;
}
.case-header__background--zahner {
  height: 30em;
  overflow: hidden;
  background-color: #0a0a0a;
}
.case-header__background--monograph {
  position: relative;
  height: 37.5em;
  overflow: hidden;
}
.case-header__background--mit-design-lab {
  height: 30em;
  overflow: hidden;
}
.case-header__foreground {
  position: relative;
  @media only screen and (min-width: $screen-md-min) {
    padding: 0 2em;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 0 calc(50% - 40em);
  }
}
.case-header__foreground--imagewall {
  padding-top: 4em;
}
.case-header__foreground--zahner,
.case-header__foreground--mit-design-lab {
  padding-top: 5em;
}
.case-header__foreground--monograph {
  padding-top: 1em;
}
.case-header__video {
  position: absolute;
  height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.case-header__video--zahner,
.case-header__video--monograph,
.case-header__video--mit-design-lab {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.case-header__video--zahner {
  opacity: 0.5;
}
.case-header__image {
  display: block;
  border: none;
}

// ImageWall
.case-header__image--imagewall-below {
  position: relative;
  float: left;
  width: 22.75em;
  margin: -2em;
}
.case-header__image--imagewall-above {
  position: relative;
  float: right;
  width: 5em;
  margin: -1em 9em -1em 0;
}

// Zahner
.case-header__image--zahner-below {
  position: relative;
  width: 45em;
  box-shadow: 0 0 1rem rgba(40,38,51,0.5);
}
.case-header__image--zahner-above {
  position: relative;
  float: right;
  width: 33em;
  margin-top: -25em;
  margin-right: 10em;
}

// MIT
.case-header__image--mit-design-lab-below,
.case-header__image--mit-design-lab-above {
  position: relative;
  width: 41.25em;
  box-shadow: 0 0 2rem rgba(40,38,51,0.25);
}
.case-header__image--mit-design-lab-below {
  z-index: 2;
}
.case-header__image--mit-design-lab-above {
  float: right;
  margin-top: -46em;
  z-index: 1;
}


.case-header__caption,
.case-header__caption a {
  color: $color-black;
  font-size: 12 / 16 * 1rem;
  font-family: $font-family-3;
  line-height: 1.5;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
.case-header__credit {
  display: block;
  color: $color-gray-3;
}



// Section
.case-section {

}



.case-text {
  position: relative;
  @media only screen and (min-width: $screen-md-min) {
    padding: 0 2em;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 0 calc(50% - 30em);
  }
}
.case-text__kicker {
  margin: 0;
  color: $color-gray-3;
  font-size: 12 / 16 * 1rem;
  font-family: $font-family-3;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
.case-text__summary {
  margin: 1rem 0 0;
  font-size: 36 / 16 * 1rem;
  font-family: $font-family-1;
  line-height: 1.25;
}