// Case Section
.case-section {

}

// Case Media
.case-media {
  width: 100%;
  padding: 0 1em 3em;
  @media only screen and (min-width: $screen-xs-min) {
    padding: 0 1.5em 3em;
  }
  @media only screen and (min-width: $screen-sm-min) {
    padding: 0 3em 5em;
  }
}
.case-media-xl {
  padding: 0 0 3em;
  @media only screen and (min-width: $screen-sm-min) {
    padding: 0 0 5em;
  }
  @media only screen and (min-width: 64.0625em) {
    padding: 0 0 7.5em;
  }
}
.case-media-lg {
  @media only screen and (min-width: 64.0625em) {
    padding: 0 5em 7.5em;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 0 calc(50% - 40em) 7.5em;
  }
}
.case-media-md {
  @media only screen and (min-width: 64.0625em) {
    padding: 0 calc(8.33333% + 2.5em) 5em;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 0 calc(50% - 33.33333em) 7.5em;
  }
}
.case-media--scale {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.case-media--scale .case-media__block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

// ImageWall
.case-media--imagewall-03 .case-media__image {
  flex: 0 1 auto;
  width: 200%;
  @media only screen and (min-width: $screen-sm-min) {
    width: 125%;
  }
}
.case-media--imagewall-04 .case-media__block--below {
  position: absolute;
}
.case-media--imagewall-04 .case-media__block--above {
  padding: 3em 0.875em 0;
  @media only screen and (min-width: $screen-xs-min) {
    padding: 3em 1.25em 0;
  }
  @media only screen and (min-width: $screen-sm-min) {
    margin-bottom: -1em;
    padding: 5em calc(8.33333% + 2em) 0;
  }
  @media only screen and (min-width: $screen-md-min) {
    padding: 7.5em calc(8.33333% + 2em) 0;
  }
  @media only screen and (min-width: 64.0625em) {
    padding: 10em calc(8.33333% + 1.5em) 0;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 10em calc(50% - 34.33333em) 0;
  }
  @media only screen and (min-width: $screen-xl-min) {
    padding: 17.5em calc(50% - 40em) 0;
  }
}
.case-media--imagewall-06 .case-media__block--below {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 3em;
  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 3.75em;
  }
  @media only screen and (min-width: $screen-md-min) {
    margin-top: 5em;
  }
  @media only screen and (min-width: 64.0625em) {
    margin-top: 7.5em;
  }
  @media only screen and (min-width: $screen-xl-min) {
    align-items: flex-end;
    max-height: 54.375em;
    margin-top: 10em;
  }
}
.case-media--imagewall-06 .case-media__block--below .case-media__image {
  width: 112.5%;
  @media only screen and (min-width: $screen-sm-min) {
    width: 100%;
  }
  @media only screen and (min-width: 64.0625em) {
    width: 112.5%;
  }
  @media only screen and (min-width: $screen-lg-min) {
    width: 100%;
  }
}
.case-media--imagewall-06 .case-media__block--above {
  padding: 0 0.875em;
  @media only screen and (min-width: $screen-xs-min) {
    padding: 0 1.25em;
  }
  @media only screen and (min-width: $screen-sm-min) {
    padding: 0 calc(8.33333% + 2em);
  }
  @media only screen and (min-width: 64.0625em) {
    padding: 0 5em;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 0 calc(50% - 34.33333em);
  }
  @media only screen and (min-width: $screen-xl-min) {
    padding: 0 calc(50% - 40em);
  }
}

// MIT
.case-media--mit-design-lab-05 .case-media__block {
  padding: 3em 0;
  background-color: #000000;
  @media only screen and (min-width: $screen-sm-min) {
    padding: 5em 0;
  }
  @media only screen and (min-width: 64.0625em) {
    padding: 7.5em 0;
  }
  // @media only screen and (min-width: $screen-lg-min) {
  //   padding: 0 calc(50% - 34.33333em);
  // }
}

// .case-media__image--background {
//   position: absolute;
//   @media only screen and (min-width: 64.0625em) {
//     padding-top: 9.5em;
//   }
// }
// .case-media__image--foreground {
//   @media only screen and (min-width: 64.0625em) {
//     margin: -1.25em;
//     padding: 0 calc(50% - 35em);
//   }
// }

.case-media--flex {
  display: flex;
}
.case-media--frame {
  margin-bottom: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  @media only screen and (min-width: $screen-xs-min) {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  @media only screen and (min-width: $screen-sm-min) {
    margin-bottom: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  @media only screen and (min-width: 64.0625em) {
    margin-bottom: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
.case-media__block,
.case-media__image {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.case-media__block--left,
.case-media__block--right {
  width: 54.16667%;
  height: 54.16667%;
  box-shadow: 0 0.25rem 2rem rgba(40,38,51,0.125);
}
.case-media__block--right {
  z-index: -1;
  margin-top: 4.16667%;
  margin-left: -8.33333%;
}


.case-media__image--frame-1 {
  width: calc(100% + 0.625em);
  margin: -0.3125em;
  @media only screen and (min-width: $screen-xs-min) {
    width: calc(100% + 0.75em);
    margin: -0.375em;
  }
  @media only screen and (min-width: $screen-sm-min) {
    width: calc(100% + 1.5em);
    margin: -0.75em;
  }
  @media only screen and (min-width: $screen-md-min) {
    width: calc(100% + 2em);
    margin: -1em;
  }
  @media only screen and (min-width: 64.0625em) {
    width: calc(100% + 2.5em);
    margin: -1.25em;
  }
}
.case-media__image--frame-2 {
  width: calc(100% + 4em);
  margin: -2em;
}

// Case Text
// .case-text {
//   position: relative;
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0 1em;
//   @media only screen and (min-width: $screen-xs-min) {
//     padding: 0 1.5em;
//   }
//   @media only screen and (min-width: $screen-sm-min) {
//     padding: 0 3em;
//   }
//   @media only screen and (min-width: 64.0625em) {
//     max-width: 60em;
//     margin: 0 auto;
//     padding: 0;
//   }
//   @media only screen and (min-width: $screen-lg-min) {
//     max-width: 66.66667em;
//   }
// }
.case-text {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1em;
  @media only screen and (min-width: $screen-xs-min) {
    padding: 0 1.5em;
  }
  @media only screen and (min-width: $screen-sm-min) {
    padding: 0 3em;
  }
  @media only screen and (min-width: $screen-lg-min) {
    padding: 0 5em;
  }
  @media only screen and (min-width: $screen-xl-min) {
    padding: 0 calc(50% - 40em);
  }
}
.case-text__numeral {
  position: relative;
  display: none;
  width: 8.33333%;
  @media only screen and (min-width: $screen-sm-min) {
    display: block;
  }
  @media only screen and (min-width: 64.0625em) {
    margin-left: 8.33333%;
  }
}
.case-text__numeral-text {
  margin: 1.6875rem 0 0;
  font-size: 10 / 16 * 1rem;
  font-family: $font-family-3;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  @media only screen and (min-width: $screen-sm-min) {
    margin: 2.25rem 0 0;
    font-size: 10 / 16 * 1rem;
  }
  @media only screen and (min-width: $screen-md-min) {
    margin: 2.5rem 0 0;
    font-size: 12 / 16 * 1rem;
  }
  @media only screen and (min-width: $screen-lg-min) {
  }
}


.case-text__summary {
  width: 100%;
  padding-bottom: 3em;
  @media only screen and (min-width: $screen-sm-min) {
    padding-bottom: 5em;
  }
  @media only screen and (min-width: 64.0625em) {
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: 8.33333%;
  }
}
.case-text__block {
  width: 100%;
  padding-bottom: 3em;
  @media only screen and (min-width: $screen-sm-min) {
    width: 66.66667%;
    margin-right: 8.33333%;
    padding-bottom: 5em;
  }
  @media only screen and (min-width: 64.0625em) {
    padding-bottom: 7.5em;
    width: 50%;
  }
}
.case-text__scope {
  display: none;
  width: 16.66667%;
  padding-bottom: 5em;
  @media only screen and (min-width: $screen-sm-min) {
    display: block;
  }
}
.case-text__title {
  margin: 0;
  color: $color-gray-3;
  font-size: 12 / 16 * 1rem;
  font-family: $font-family-3;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
.case-text__description {
  margin: 1rem 0 0;
  font-size: 16 / 16 * 1rem;
  line-height: 1.5;
  @media only screen and (min-width: $screen-md-min) {
    font-size: 20 / 16 * 1rem;
  }
}
.case-text__summary .case-text__description {
  font-size: 24 / 16 * 1rem;
  font-family: $font-family-1;
  line-height: 1.25;
  @media only screen and (min-width: $screen-sm-min) {
    font-size: 28 / 16 * 1rem;
  }
  @media only screen and (min-width: $screen-md-min) {
    font-size: 36 / 16 * 1rem;
  }
  @media only screen and (min-width: 64.0625em) {
    font-size: 40 / 16 * 1rem;
  }
}
.case-text__scope .case-text__description {
  margin: 0.75rem 0 0;
  font-size: 12 / 16 * 1rem;
  line-height: 2;
  @media only screen and (min-width: $screen-sm-min) {
    // font-size: 16 / 16 * 1rem;
  }
  @media only screen and (min-width: $screen-md-min) {
    font-size: 16 / 16 * 1rem;
  }
}