// @font-face {
//   font-family: "AkkuratMono-Regular";
//   src: font-url("AkkuratMono-Regular.eot");
//   src: font-url("AkkuratMono-Regular.eot?#iefix") format("embedded-opentype"),
//        font-url("AkkuratMono-Regular.woff2") format("woff2"),
//        font-url("AkkuratMono-Regular.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: font-url('inconsolata-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       font-url('inconsolata-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('inconsolata-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('inconsolata-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       font-url('inconsolata-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('inconsolata-v16-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* overpass-mono-regular - latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: font-url('overpass-mono-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'),
       font-url('overpass-mono-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('overpass-mono-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('overpass-mono-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       font-url('overpass-mono-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('overpass-mono-v3-latin-regular.svg#OverpassMono') format('svg'); /* Legacy iOS */
}

/* patua-one-regular - latin */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: font-url('patua-one-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Patua One'), local('PatuaOne-Regular'),
       font-url('patua-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('patua-one-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('patua-one-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       font-url('patua-one-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('patua-one-v7-latin-regular.svg#PatuaOne') format('svg'); /* Legacy iOS */
}


