
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-icon {
  margin: 0 1.5rem;

  height: $gpx7;
  width: $gpx7;
  @media only screen and (min-width: $screen-sm-min) {
    height: $gpx8;
    width: $gpx8;
  }
}