.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $font-family-3;
  
  font-size: $gpx7;
  height: $gpx5;
  @media only screen and (min-width: $screen-sm-min) {
    font-size: $gpx8;
    height: $gpx6;
  }
}