.jobs {
  position: relative;
}

.job {
  min-height: $gpx4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: $gpx2;
  margin: auto;
}

.job.is-active {
  // width: $gpx1;
}

.job-body {
  position: relative;
  z-index: 1;
  background-color: $background-color-1;
  // To make up for lack of border
  padding: 0.25rem;
  width: 100%;
  height: 100%;
}

.job.is-active .job-body {
  z-index: 3;
  border: 0.25rem solid black;
  padding: 0rem;
  text-align: center;
}

.job-title {
  font-family: $font-family-1;
  // font-size: $gpx4;
  font-size: $gpx6;
  // position: relative;
  min-height: $gpx4;
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: $gpx2;
  margin: 0 auto;
  cursor: pointer;
}

.job-title span {
  pointer-events: none;
}

.job.is-active .job-title {
  cursor: auto;
}

.job-description {
  display: none;
  opacity: 0;
  padding: 1em;
  transition: opacity 250ms ease-in;
}

.job.is-active .job-description {
  display: block;
  opacity: 1;
}

.job-background {
  position: fixed;
  bottom: -12%;
  right: 10%;
  width: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms ease-in;
}

.big-ampersand {
  height: 100vw;
}

.job.is-active .job-background {
  z-index: 2;
  display: block;
  opacity: 1;
  width: 100%;
}

.scaling-svg-container {
  width: $gpx6; 
  height: $gpx6;
}

.jobs-border {
  width: $gpx2;
  margin: inherit auto;
}