.menu-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: transparent;
  transition: all 400ms $transition;
  overflow: hidden;
  @media only screen and (min-width: $screen-xs-min) {
    padding: 1.5em;
  }
  @media only screen and (min-width: $screen-sm-min) {
    padding: 3em;
  }
}
.is-scrolled .body-header:hover .menu-desktop {
  background-color: $color-white;
  box-shadow: 0 0 1rem rgba(40,38,51,0.125);
}
.menu-desktop__logo,
.menu-desktop__link {
  color: $color-black;
  line-height: 1;
  text-decoration: none;
  transition: color 200ms $transition;
}
.menu-desktop__link:hover,
.menu-desktop__link.is-active {
  color: $color-gray-3;
}
.menu-desktop__logo {
  display: flex;
  align-items: center;
  line-height: 1;
}
.menu-desktop__logo-icon {
  position: relative;
  font-size: 20 / 16 * 1rem;
  font-weight: 700;
  @media only screen and (min-width: $screen-sm-min) {
    padding-left: 0.125em;
  }
}
.menu-desktop__logo-icon:before {
  content: "";
  position: absolute;
  display: block;
  top: -1.5rem;
  left: -1.5rem;
  width: 4.25rem;
  height: 4.25rem;
  background-color: $color-white;
  transform: rotate(-90deg);
  transition: box-shadow 400ms $transition;
  z-index: -1;
}
.is-scrolled .menu-desktop__logo-icon:before {
  transform: rotate(0);
  box-shadow: 0 0 1rem rgba(40,38,51,0.125);
  transition: all 400ms $transition;
}
.is-scrolled .body-header:hover .menu-desktop__logo-icon:before {
  box-shadow: none;
  transform: rotate(-90deg);
}
.menu-desktop__logo-text {
  display: none;
  @media only screen and (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
  }
}
.is-scrolled .menu-desktop__logo-text {
  opacity: 0;
  visibility: hidden;
}
.is-scrolled .body-header:hover .menu-desktop__logo-text {
  opacity: 1;
  visibility: visible;
}
.menu-desktop__logo-text:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1rem;
  margin: 0 0.5em;
  background-color: $color-gray-3;
}
.menu-desktop__list {
  display: flex;
}
.is-scrolled .menu-desktop__list {
  opacity: 0;
  visibility: hidden;
}
.is-scrolled .body-header:hover .menu-desktop__list {
  opacity: 1;
  visibility: visible;
}
.menu-desktop__item {
  margin-left: 1.5em;
  @media only screen and (min-width: $screen-sm-min) {
    margin-left: 3em;
  }
}