// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Navigation
// stylesheets/blocks/_navigation.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Body (<body>)
html, body {
  overflow-x: hidden;
}

// Header
.layout-header {
  position: fixed;
  margin-top: 32px;
  width: 100%;
  z-index: $z6;
  opacity: 1;
  transition: opacity 400ms $transition-easing, transform 400ms $transition-easing;
  @include animation(fadeInDelay 800ms, slideDownDelay 800ms);
  @include keyframes(fadeInDelay) {
    0%   { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 1; }
  }
  @include keyframes(slideDownDelay) {
    0%   { transform: translate3d(0,-24px,0); }
    40%  { transform: translate3d(0,-24px,0); }
    100% { transform: translate3d(0,0,0); }
  }
  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 64px;
  }
  @media only screen and (min-width: $screen-md-min) {
    margin-top: 96px;
  }
}

// Headroom
.js-headroom--unpinned {
  transform: translate3d(0,-24px,0);
  opacity: 0;
}
.js-headroom--pinned {
  transform: translate3d(0,0,0);
  opacity: 1;
  height: auto;
}
// Fixes bug where nav list doesn't show
// if you scroll down the page
.nav-hidden--is-visible .js-headroom--pinned {
  height: 100vh;
}


// Visible Nav
.nav-visible {
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
  @media only screen and (min-width: $screen-sm-min) {
    padding-right: 32px;
    padding-left: 32px;
  }
  @media only screen and (min-width: $screen-md-min) {
    padding-right: 48px;
    padding-left: 48px;
  }
  @media only screen and (min-width: 1344px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.nav-visible__list-item {
  position: relative;
  float: left;
}
.nav-visible__list-item--lg {
  width: 75%; // 18 columns
  @media only screen and (min-width: 1200px) {
    width: 66.66667%; // 16 columns
  }
}
.nav-visible__list-item--md {
  display: none;
  @media only screen and (min-width: $screen-sm-min) {
    display: block;
    width: 16.66667%; // 4 columns
  }
  @media only screen and (min-width: 1200px) {
    width: 25%; // 6 columns
    // width: 12.5% // 3 columns
  }
}
.nav-visible__list-item--sm {
  width: 25%; // 6 columns
  @media only screen and (min-width: $screen-sm-min) {
    width: 8.33333%; // 2 columns
  }
}

.nav-visible__logo,
.nav-visible__link {
  position: relative;
  display: inline;
  color: $color-black;
  font-family: $font-family-primary;
  font-style: $font-style-normal;
  font-weight: $font-weight-regular;
  line-height: 1;
  letter-spacing: 0.0125em;
  @include font-size($font-size-300);
  @media only screen and (min-width: $screen-sm-min) {
    @include font-size($font-size-400);
  }
}
.nav-visible__logo {
  z-index: $z6;
  transition: color 400ms $transition-easing;
}
.nav-visible__logo:hover,
.nav-visible__link:hover {
  color: $color-blue-lt;
}
.nav-visible__logo--is-dark .nav-visible__logo {
  color: $color-black;
}
.nav-hidden--is-visible .nav-visible__logo {
  color: $color-white !important;
}

// Sub pages
.nav-visible__logo {
  color: $color-white;
}
.process .nav-visible__logo,
.writing .nav-visible__logo,
.contact .nav-visible__logo {
  color: $color-black;
}
.process .nav-visible__link {
  color: transparent;
}

// Sub pages menu active states
.nav-hidden--is-visible .work .nav-visible__logo,
.nav-hidden--is-visible .process .nav-visible__logo,
.nav-hidden--is-visible .writing .nav-visible__logo,
.nav-hidden--is-visible .contact .nav-visible__logo {
  color: $color-white;
}

// Hidden Nav
.nav-hidden {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: $grid-width;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  backface-visibility: hidden;
  transform: translate3d(100vw,0,0);
  overflow-x: auto;
  z-index: $z5;
  transition: transform 0ms 800ms;
}
.nav-hidden--is-visible .nav-hidden {
  transform: translate3d(0,0,0);
  transition: transform 0ms;
}
.nav-hidden__list {
  float: right;
  margin-top: 120px;
}
.nav-hidden__list-item {
  margin-bottom: 32px;
  text-align: right;
  opacity: 0;
}
.nav-hidden__link {
  position: relative;
  color: $color-white;
  font-family: $font-family-primary;
  font-style: $font-style-normal;
  font-weight: $font-weight-regular;
  line-height: 1;
  letter-spacing: 0.0125em;
  @include font-size($font-size-600);
}
.nav-hidden__link:hover {
  color: $color-blue-lt;
}

// Nav slide-out
.nav-hidden__list-item:nth-child(1) {
  transform: translate3d(32px,0,0);
  transition: transform 400ms 200ms $transition-easing, opacity 200ms 250ms $transition-easing;
}
.nav-hidden__list-item:nth-child(2) {
  transform: translate3d(64px,0,0);
  transition: transform 350ms 150ms $transition-easing, opacity 200ms 200ms $transition-easing;
}
.nav-hidden__list-item:nth-child(3) {
  transform: translate3d(96px,0,0);
  transition: transform 300ms 100ms $transition-easing, opacity 200ms 150ms $transition-easing;
}
.nav-hidden__list-item:nth-child(4) {
  transform: translate3d(128px,0,0);
  transition: transform 250ms 50ms $transition-easing, opacity 200ms 100ms $transition-easing;
}
.nav-hidden__list-item:nth-child(5) {
  transform: translate3d(160px,0,0);
  transition: transform 200ms $transition-easing, opacity 200ms $transition-easing;
}
.nav-hidden__list-item:nth-child(6) {
  transform: translate3d(160px,0,0);
  transition: transform 150ms $transition-easing, opacity 200ms $transition-easing;
}

// Nav slide-in
.nav-hidden--is-visible .nav-hidden__list-item {
  opacity: 1;
  transform: translate3d(0,0,0);
}
.nav-hidden--is-visible .nav-hidden__list-item:nth-child(1) {
  transition: transform 300ms 200ms $transition-easing, opacity 100ms 200ms $transition-easing;
}
.nav-hidden--is-visible .nav-hidden__list-item:nth-child(2) {
  transition: transform 350ms 200ms $transition-easing, opacity 100ms 200ms $transition-easing;
}
.nav-hidden--is-visible .nav-hidden__list-item:nth-child(3) {
  transition: transform 400ms 200ms $transition-easing, opacity 100ms 200ms $transition-easing;
}
.nav-hidden--is-visible .nav-hidden__list-item:nth-child(4) {
  transition: transform 450ms 200ms $transition-easing, opacity 100ms 200ms $transition-easing;
}
.nav-hidden--is-visible .nav-hidden__list-item:nth-child(5) {
  transition: transform 500ms 200ms $transition-easing, opacity 100ms 200ms $transition-easing;
}
.nav-hidden--is-visible .nav-hidden__list-item:nth-child(6) {
  transition: transform 550ms 200ms $transition-easing, opacity 100ms 200ms $transition-easing;
}

// Nav button
.nav-button__open,
.nav-button__close {
  position: absolute;
  float: right;
  width: 100%;
  margin: -3px 0 0;
  padding: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  text-align: right;
  cursor: pointer;
  background: transparent;
  @media only screen and (min-width: 375px) {
  }
  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 0;
  }
  @media only screen and (min-width: $screen-lg-min) {
  }
}
.nav-button__close {
  opacity: 0;
  z-index: $z0;
  transition: opacity 200ms $transition-easing;
}
.nav-button__open:focus,
.nav-button__close:focus {
  outline: none;
}
.nav-hidden--is-visible .nav-button__close {
  opacity: 1;
  z-index: $z6;
  transition: opacity 800ms $transition-easing;
}
.nav-button__ampersand {
  color: $color-black;
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  line-height: 1;
  opacity: 1;
  @include font-size($font-size-500);
  transition: opacity 800ms $transition-easing;
}
// Blog page
.writing:not(.writing_index) .nav-button__ampersand {
  color: $color-white;
}
.nav-hidden--is-visible .nav-button__ampersand {
  opacity: 0;
  transition: opacity 200ms $transition-easing;
}
.nav-button__times {
  color: $color-white;
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  line-height: 0.625;
  @include font-size($font-size-600);
}

// Nav Overlay
.layout-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: $z0;
  background: rgba(15, 13, 32, 0.99);
  @include animation(fadeOutIndex 800ms);
  @include keyframes(fadeOutIndex) {
    0%   { opacity: 1; z-index: $z5; }
    20%  { opacity: 1; z-index: $z5; }
    99%  { z-index: $z5; }
    100% { opacity: 0; }
  }
}
.nav-hidden--is-visible .layout-overlay {
  opacity: 1;
  z-index: $z5;
  @include animation(fadeIn 400ms);
}
.nav-hidden--is-visible {
  overflow-y: hidden;
}