// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Parallax
// stylesheets/blocks/_parallax.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  // transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}
// 1 + (translateZ * -1) / 300
.parallax__layer--0 {
  // 1 + (90 * -1) / 300
  transform: translate3d(0,0,0) scale(1);
  z-index: $z4
}
.parallax__layer--1 {
  transform: translate3d(0,0,-120px) scale(1.4);
  z-index: $z4;
}
.parallax__layer--2 {
  transform: translate3d(0,0,-180px) scale(1.6);
  z-index: $z4;
}
.parallax__layer--3 {
  transform: translate3d(0,0,-300px) scale(2);
  z-index: $z3;
}
.parallax__layer--4 {
  transform: translate3d(0,0,-600px) scale(3);
  z-index: $z2;
}
.parallax__layer--5 {
  transform: translate3d(0,0,-900px) scale(4);
  z-index: $z2;
}