.projects {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // flex-wrap: wrap;
  // height: $gpx3;
  // width: $gpx2;
  position: relative;
  // margin: 0 auto;
}

.project {
  // width: 33.33%;
  // height: $gpx3;
  min-height: $gpx4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: $gpx2;
  margin: auto;
}

.project.is-active {
  width: $gpx1;
}

.project-body {
  position: relative;
  z-index: 1;
  background-color: $background-color-1;
  // To make up for lack of border
  padding: 0.25rem;
  width: 100%;
  height: 100%;
}

.project.is-active .project-body {
  z-index: 3;
  border: 0.25rem solid black;
  padding: 0rem;
  text-align: center;
}

.project-title {
  font-family: $font-family-1;
  // font-size: $gpx4;
  font-size: $gpx6;
  // position: relative;
  min-height: $gpx4;
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: $gpx2;
  margin: 0 auto;
}

.project-title__line {
  cursor: pointer;
  pointer-events: none;
  position: relative;
  display: flex;
  min-width: 0px;
}

.project.is-active .project-title__line {
  min-width: 100%;
}

.project.tessarray .project-title__line {
  justify-content: center;
}

.project.rap .project-title__line {
  justify-content: center;
}

.letter {
  pointer-events: none;
  transition: 1000ms all;
}

.hidden {
  opacity: 0;
  transition: 1000ms all;
  max-width: 0px;
  min-width: 0px;
}

.space.hidden {
  pointer-events: none;
  min-width: 0;
}

.project.is-active .hidden {
  opacity: 1;
  // change this
  max-width: $gpx6;
}

.project.is-active .abbreviation {
  max-width: 0px;
  opacity: 0;
}

.space.hidden {
  min-width: 0px;
}

.project.is-active .space.hidden {
  min-width: $gpx7;
}


.project.is-active .negative-margin {
  margin: 0 -0.1rem;
}

.project.is-active .line-break {
  flex-grow: 1;
}


.project-description {
  display: none;
  opacity: 0;
  padding: 1em;
  transition: opacity 250ms ease-in;
}

.project.is-active .project-description {
  display: block;
  opacity: 1;
}

.project-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms ease-in;
}

.project.is-active .project-background {
  z-index: 2;
  display: block;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.project.tessarray .project-background {
  background-color: #33235C;
}
.project.lik .project-background {
  background-color: white;
}
.project.rap .project-background {
  background-color: #D9536B;
}
.box {
  background-color: #eaeaea;
}
.box img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms linear 0ms;
}
.box.is-loaded img {
  opacity: 1;
}

.project-image {
  width: 100vw;
}

.project-divider {
  width: $gpx3;
  margin: 0 auto;
}

.projects-border {
  width: $gpx2;
  margin: 0 auto;
}