






<header class="case-header">
  <div class="case-header__text">
    <h1 class="case-header__title" itemprop="name">Building Tools of the Future</h1>
    <p class="case-header__abstract" itemprop="description">A 3D webapp to design and purchase custom perforated metal.</p>
    <div class="case-header__byline">ImageWall</div>
  </div>
  <figure class="case-header__hero case-header__hero--imagewall">
    <div class="case-header__background case-header__background--imagewall">
      <video class="case-header__video" preload="auto" loop autoplay itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
        <meta itemprop="name" content="ImageWall browser based WebGL 3D experience.">
          <source src="<%= asset_url("assets/images/work/imagewall/imagewall-background.mp4") %>" type="video/mp4" itemprop="url">
      </video>
    </div>

    <div class="case-header__foreground case-header__foreground--imagewall">
      <%= image_tag("work/imagewall/imagewall-foreground--below.png", class: "case-header__image case-header__image--imagewall-below") %>
      <%= image_tag("work/imagewall/imagewall-foreground--above.png", class: "case-header__image case-header__image--imagewall-above") %>
    </div>
  </figure><br><br><br><br><br><br><br><br>
</header>

<section class="case-section">
 <div class="case-text" style="padding-bottom: 5rem;">
    <div class="case-text__group">
      <h5 class="case-text__kicker">Overview</h5>
      <p class="case-text__summary">Working closely with the ImageWall team we leveled up their online 3D design tool that lets anyone create and purchase perforated metal walls from an image.</p>
    </div>
    <div class="">

    </div>
  </div>
  <div class="" style="padding: calc(50% - 40em);background: #f7f9f9;">
    <%= image_tag("work/imagewall/imagewall-ui-studies.png", class: "", style: "width:100%;margin:0 auto;") %>
  </div>
</section>

<section class="case-section"></section>