






<header class="case-header">
  <div class="case-header__text">
    <h1 class="case-header__title" itemprop="name">Crafting a Digital Legacy</h1>
    <p class="case-header__abstract" itemprop="description">A ground up redesign for Zahner's flagship website.</p>
    <div class="case-header__byline">A. Zahner Co.</div>
  </div>
  <figure class="case-header__hero case-header__hero--zahner">

    <div class="case-header__background case-header__background--zahner">
      <video class="case-header__video case-header__video--zahner" preload="auto" loop autoplay itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
        <meta itemprop="name" content="Hero video for azahner.com by Tex Jernigan &copy; A. Zahner Co.">
          <source src="<%= asset_url("assets/images/work/zahner/zahner-background.mp4") %>" type="video/mp4" itemprop="url">
      </video>
    </div>

    <div class="case-header__foreground case-header__foreground--zahner">
      <%= image_tag("work/zahner/zahner-foreground--below.jpg", class: "case-header__image case-header__image--zahner-below") %>
      <%= image_tag("work/zahner/zahner-foreground--above.png", class: "case-header__image case-header__image--zahner-above") %>
    </div>
  </figure>
</header>

<section class="case-section">
  <div class="case-text">
    <div class="case-text__group">
      <h5 class="case-text__kicker">Overview</h5>
      <p class="case-text__summary">We helped Zahner take their vast 120+ years of projects, expertise and vision into the digital age with a gorgeous new website and CMS.</p>
    </div>
    <div class="">

    </div>
    <div class="">
  </div>

  </div>
</section>