// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Guides Page — Header
// stylesheets/custom/guides/_header.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.guides-header {
	margin-bottom: -30vh;
	// margin-bottom: -320px;
}
.guides-header__text {
	// margin-top: 320px;
	margin-top: 40vh;
}
.guides-header__title {
	margin-bottom: 24px;
	@include font-size($font-size-500);
	@include animation(scaleInDelay 1200ms);
	@include keyframes(scaleInDelay) {
		0%   { transform: scale(1.125); opacity: 0; }
		25%  { transform: scale(1.125); opacity: 0; }
		100% { transform: scale(1); opacity: 1; }
	}
	@media only screen and (min-width: $screen-sm-min) {
		@include font-size($font-size-600);
	}
}

.guides-header__shapes {
	position: absolute;
	top: 0;
	width: 100%;
	// opacity: 0;
}
.guides-header__shape {
	width: 100%;
}
.guides-header__shape-sm,
.guides-header__shape-md,
.guides-header__shape-lg {
	position: relative;
}
.guides-header__shape-sm {
	float: left;
	margin-top: -12px;
	margin-left: calc(50% - 100px);
	@include animation(slideInShape 1200ms);
}
.guides-header__shape-md {
	float: right;
	margin-top: -9px;
	margin-right: 12%;
	@include animation(slideInShape 1200ms);
}
.guides-header__shape-lg {
	margin-top: -6px;
	margin-left: -15%;
	@include animation(slideInShape 800ms);
}
@include keyframes(slideInShape) {
	0%   { transform: translate3d(-64px,0,0) scale(1.25); opacity: 0; }
	25%  { transform: translate3d(-64px,0,0) scale(1.25); opacity: 0; }
	100% { transform: translate3d(0,0,0) scale(1); opacity: 1; }
}

.guides-header__grid {
}
.guides-header__grid-col {
	display: block;
	float: left;
	width: 2.08%;
	height: 64px;
	border-right: 1px solid $color-gray-200;
}
.guides-header__grid-col:nth-child(2n+0) {
	height: 108px;
}
.guides-header__grid-col:nth-child(4n+0) {
	height: 144px;
}
.guides-header__grid-col:last-child {
	border-right: none;
}
@for $i from 0 through 48 {
	$time: $i * 25;
	.guides-header__grid-col:nth-child(#{$i}) {
		@include animation(slideInGrid #{$time}ms)
	}
}
@include keyframes(slideInGrid) {
	0%   { transform: translate3d(0,-144px,0) scale(2); opacity: 0; border-color: $color-gray-500 }
	// 25%  { transform: scale(2); opacity: 0; }
	50%  { transform: translate3d(0,-144px,0) scale(2); opacity: 0; border-color: $color-gray-500 }
	// 75%  { border-color: $color-blue-lt }
	100% { transform: translate3d(0,0,0) scale(1); opacity: 1; border-color: $color-gray-200 }
}
