// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page — Clients
// stylesheets/custom/home/_clients.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-clients {
	margin-bottom: 480px;
	@media only screen and (min-width: $screen-lg-min) {
		// margin-bottom: 960px;
	}
	// margin-bottom: 144px; // to compensate for home-client padding-bottom
}
.home-clients__expertise {

}
.home-clients__work {

}


.home-clients__title {
	position: absolute;
	float: left;
	margin-top: 64px;
	margin-left: -32px;
	transform:rotate(270deg);
}
.home-clients__description {
	margin-bottom: 24px;
	@include font-size($font-size-600);
}

.home-client {
	margin-bottom: 64px;
}

.home-client__title-line {
	display: inline-block;
	vertical-align: middle;
	width: 48px;
	height: 1px;
	margin: 0 12px;
	// padding-bottom: -12px;
	background: $color-black;
}
.home-client__title-date {
	font-family: $font-family-secondary;
	@include font-size($font-size-400);
}




.home-client__link {
	display: block;
	margin-bottom: 4px;
}
.home-client__logo {
	width: 100%;
	// text-align: center;
}
.home-client__logo img {
	// width:100%;
	margin-left: 64px;
	// position: relative;
}
.home-client__description {
	margin-top: 48px;
	line-height: 1.618;
	@include font-size($font-size-300);
}
.home-client__tags {
	margin-top: 48px;
	font-family: $font-family-secondary;
}
.home-client__tag {
	padding-bottom: 4px;
	border-bottom: 2px solid $color-blue-dk;
}