// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page Expertise
// stylesheets/custom/home/_expertise.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-expertise {
	margin-bottom: 240px;
}

.home-expertise__shape {
	position:absolute;
	width:360px;
	height:360px;
	margin-left:540px;
	margin-top:-180px;
	border:4px solid white;
	transform:rotate(45deg);
}
.home-expertise__tagline {
	float: right;
	margin-top: 54px;
	margin-right: -42px;
	transform: rotate(270deg);
}
.home-expertise__link {
	position: absolute;
	padding-bottom: 8px;
	border-bottom: 4px solid $color-blue-dk;
	font-family: $font-family-secondary;
	@include font-size($font-size-400);
	@include animation(slideUpDelay 1200ms);
	@include keyframes(slideUpDelay) {
		0%   { transform: translate3d(0,24px,0); border-color: $color-black; opacity: 0; }
	  25%  { transform: translate3d(0,24px,0); border-color: $color-black; opacity: 0; }
	  100% { transform: translate3d(0,0,0); border-color: $color-blue-dk; opacity: 1; }
	}
}