// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page Expertise
// stylesheets/custom/home/_expertise.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-expertise {
	// margin-top: 300px;
	margin-bottom: 120px;
}

.home-expertise__shape {
	position:absolute;
	width:360px;
	height:360px;
	margin-left:540px;
	margin-top:-180px;
	border:4px solid white;
	transform:rotate(45deg);
}
.home-expertise__title {
	position: absolute;
	float: left;
	margin-top: -128px;
	margin-left: -32px;
	transform:rotate(270deg);
}