// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page Header
// stylesheets/custom/home/_header.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-header {
	// margin-top: 40vh;
	margin-top: 144px;
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 168px;
	}
	@media only screen and (min-width: $screen-sm-min) {
		margin-top: 240px;
	}
	@media only screen and (min-width: $screen-md-min) {
		margin-top: 320px;
		margin-bottom: 480px;
	}
}
.home-header__graphic {
	position: absolute;
	width: 420px;
	height: 420px;
	margin: -144px 0 0 -144px;
	background: $color-black;
	transform: rotate(45deg);
	@include animation(fadeIn 800ms, headerRotate 800ms);
	@include keyframes(headerRotate) {
		0%   { transform: rotate(90deg); }
		100% { transform: rotate(45deg); }
	}
	@media only screen and (min-width: 375px) {
		width: 480px;
		height: 480px;
		margin: -168px 0 0 -168px;
	}
	@media only screen and (min-width: $screen-sm-min) {
		width: 690px;
		height: 690px;
		margin: -300px 0 0 -168px;
	}
	@media only screen and (min-width: $screen-md-min) {
		width: 840px;
		height: 840px;
		margin: -448px 0 0 -128px;
	}
	@media only screen and (min-width: $screen-lg-min) {
		width: 960px;
		height: 960px;
		margin: -464px 0 0 -144px;
	}
}
.home-header__ampersand {
	position: absolute;
	width: 480px;
	margin: 0px auto 0;
	right: 0;
	left: 0;
	@include animation(scaleInDelay 1200ms);
	@include keyframes(scaleInDelay) {
		0%   { transform: scale(1.125); opacity: 0; }
		25%  { transform: scale(1.125); opacity: 0; }
		100% { transform: scale(1); opacity: 1; }
	}
	@media only screen and (min-width: $screen-sm-min) {
		margin: -60px auto 0;
	}
	@media only screen and (min-width: $screen-md-min) {
		margin: -84px auto 0;
	}
}
.home-header__ampersand-solid,
.home-header__ampersand-hatch {
	position: absolute;
	width: 480px;
}
.home-header__ampersand-hatch {
	margin-top: 48px;
	margin-left: 84px;
	@include animation(slideOutDelay 1200ms);
	@include keyframes(slideOutDelay) {
		0%   { margin-top: 0; margin-left: 0; }
		25%  { margin-top: 0; margin-left: 0; }
		100% { margin-top: 48px; margin-left: 84px; }
	}
}
.home-header__email {
	float: right;
	margin-top: 72px;
	margin-right: -108px;
	transform: rotate(270deg);
	color: $color-black;
	@include font-size($font-size-400);
	@include animation(fadeInDelay 800ms, slideInDelay 800ms);
	@include keyframes(slideInDelay) {
		0%   { margin-right: -132px; }
		40%  { margin-right: -132px; }
		100% { margin-right: -108px; }
	}
}
.home-header__title {
	margin-bottom: 24px;
	color: $color-white;
	@include font-size($font-size-500);
	@include animation(scaleInDelay 1200ms);
	@include keyframes(scaleInDelay) {
		0%   { transform: scale(1.125); opacity: 0; }
		25%  { transform: scale(1.125); opacity: 0; }
		100% { transform: scale(1); opacity: 1; }
	}
	@media only screen and (min-width: $screen-sm-min) {
		@include font-size($font-size-600);
	}
}
.home-header__link {
	position: absolute;
	padding-bottom: 8px;
	color: $color-white;
	border-bottom: 4px solid $color-blue-dk;
	font-family: $font-family-secondary;
	@include font-size($font-size-400);
	@include animation(slideUpDelay 1200ms);
	@include keyframes(slideUpDelay) {
		0%   { transform: translate3d(0,24px,0); border-color: $color-black; opacity: 0; }
	  25%  { transform: translate3d(0,24px,0); border-color: $color-black; opacity: 0; }
	  100% { transform: translate3d(0,0,0); border-color: $color-blue-dk; opacity: 1; }
	}
}