// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page — Products
// stylesheets/custom/home/_products.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-products__graphic {
	position: absolute;
	right: 0;
	width: 1200px;
	height: 1200px;
	margin: 240px -480px 0 0;
	background: $color-gray-200;
	transform: rotate(45deg);
	z-index: $z0;
}
.home-products__title {
	float: right;
	margin-top: 360px;
	margin-right: -39px;
	transform: rotate(270deg);
}
.home-product {
	margin-bottom: 64px;
}
.home-product__logo {
	display: inline-block;
	vertical-align: middle;
}
.home-product__logo img {
	max-width: 240px;
}
.home-product__description {
	margin-bottom: 32px;
	line-height: 1.618;
	@include font-size($font-size-300);
}
.home-product__link {
	font-family: $font-family-secondary;
	padding-bottom: 4px;
	border-bottom: 2px solid $color-blue-dk;
}

// .home-products__title {
// 	position: relative;
// 	float: right;
// 	margin-top: 24px;
// 	margin-right: -16px;
// 	transform:rotate(270deg);
// }






// .home-clients__link {
// 	display: inline-block;
// 	margin-bottom: 16px;
// }
// .home-clients__logo img {
// 	width:100%;
// 	max-width:180px;
// }
// .home-clients__description {
// 	margin-top: 48px;
// 	line-height: 1.618;
// 	@include font-size($font-size-300);
// }
// .home-clients__tags {
// 	font-family: $font-family-secondary;
// }
// .home-clients__tag {
// 	padding-bottom: 4px;
// 	border-bottom: 2px solid $color-blue-dk;
// }