// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page — Clients
// stylesheets/custom/home/_clients.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-projects {
	margin-bottom: 480px;
	@media only screen and (min-width: $screen-lg-min) {
		// margin-bottom: 960px;
	}
	// margin-bottom: 144px; // to compensate for home-client padding-bottom
}


// .home-projects__title {
// 	position: absolute;
// 	float: left;
// 	margin-top: -128px;
// 	margin-left: -32px;
// 	transform:rotate(270deg);
// }
.home-projects__description {
	margin-bottom: 24px;
	@include font-size($font-size-600);
}

.home-project {
	margin-bottom: 64px;
}

// Project Shapes - sm
.home-project__shape-sm--hatch {
	position: absolute;
	width: 180px;
	height: 180px;
	margin-top: -240px;
	// margin-left: 240px;
	transform: rotate(45deg);
}
.home-project__shape-sm--hatch img {
	width: 180px;
}
.home-project__shape-sm--outline {
	position: absolute;
	width: 180px;
	height: 180px;
	margin-left: 60px;
	border: 4px solid white;
	transform: rotate(45deg);
}

// Project Shapes - lg
.home-project__shape-lg--hatch {
	position: absolute;
	width: 600px;
	height: 600px;
	margin-top: -240px;
	// margin-left: 240px;
	transform: rotate(45deg);
}
.home-project__shape-lg--outline {
	position: absolute;
	width: 600px;
	height: 600px;
	margin-left: 60px;
	border: 4px solid white;
	transform: rotate(45deg);
}






.home-project__title-line {
	display: inline-block;
	vertical-align: middle;
	width: 48px;
	height: 1px;
	margin: 0 12px;
	// padding-bottom: -12px;
	background: $color-black;
}

.home-project__tagline:after {
	content: '';
	width: 48px;
	height: 1px;
	margin-left: 16px;
	display: inline-block;
	vertical-align: middle;
	background: $color-black;
}
.home-project__year {
	font-family: $font-family-secondary;
	@include font-size($font-size-300);
	transform: rotate(45deg);
}




.home-project__link {
	display: block;
	margin-bottom: 4px;
}
.home-project__logo {
	width: 100%;
	// text-align: center;
}
.home-project__logo img {
	// width:100%;
	margin-left: 64px;
	// position: relative;
}
.home-project__description {
	margin-top: 48px;
	line-height: 1.618;
	@include font-size($font-size-300);
}
.home-project__tags {
	margin-top: 48px;
	font-family: $font-family-secondary;
}
.home-project__tag {
	display: inline;
	padding-bottom: 4px;
	border-bottom: 2px solid $color-blue-dk;
}