// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page — Clients
// stylesheets/custom/home/_clients.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-projects {
	margin-bottom: 120px;
	@media only screen and (min-width: $screen-md-min) {
		margin-bottom: 120px;
	}
	@media only screen and (min-width: $screen-lg-min) {
		margin-bottom: 240px;
	}
}

// Project
.home-project {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 90px;
	@media only screen and (min-width: $screen-md-min) {
		margin-bottom: 120px;
	}
	@media only screen and (min-width: $screen-lg-min) {
		margin-bottom: 240px;
	}
}
.home-project__text {
	flex: 0 1 auto;
	order: 2;
	@media only screen and (min-width: $screen-md-min) {
		order: auto;
	}
}
.home-project__assets {
	flex: 0 1 auto;
	order: 1;
	margin-bottom: 32px;
	@media only screen and (min-width: $screen-md-min) {
		order: auto;
		margin-bottom: 0;
	}
}
.home-project:nth-child(odd) .home-project__assets {
	@media only screen and (min-width: $screen-md-min) {
		order: 2;
	}
}

.home-project__client {
	margin-bottom: 32px;
	@media only screen and (min-width: $screen-md-min) {
		margin-bottom: 21px;
		@include font-size($font-size-3);
	}
	@media only screen and (min-width: $screen-lg-min) {
		margin-bottom: 32px;
		@include font-size($font-size-400);
	}
}
.home-project__client-name {
	@include font-size($font-size-500);
	@media only screen and (min-width: $screen-md-min) {
		@include font-size($font-size-400);
	}
}
.home-project__client-dash {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 1px;
	margin: 0 16px;
	background: $color-black;
}
.home-project__client-tags {
	display: block;
	margin-top: 12px;
	font-family: $font-family-secondary;
	@include font-size($font-size-3);
	@media only screen and (min-width: $screen-md-min) {
		display: inline-block;
		margin-top: 0;
	}
}
.home-project__title {
	margin-bottom: 24px;
	@include font-size($font-size-3);
	@media only screen and (min-width: $screen-md-min) {
		margin-bottom: 32px;
		@include font-size($font-size-500);
	}
	@media only screen and (min-width: $screen-lg-min) {
		margin-bottom: 64px;
		@include font-size($font-size-600);
	}
}
.home-project__title--light {
	color: $color-blue-gray;
}
.home-project__link {
	font-family: $font-family-secondary;
	@include font-size($font-size-3);
	padding-bottom: 4px;
	border-bottom: 2px solid $color-blue-dk;
	@media only screen and (min-width: $screen-lg-min) {
		@include font-size($font-size-400);
		padding-bottom: 8px;
		border-bottom: 4px solid $color-blue-dk;
	}
}
.home-project__image {
	width: 600px;
	@media only screen and (min-width: $screen-md-min) {
		width: 720px;
		margin-top: -90px;
	}
	@media only screen and (min-width: $screen-lg-min) {
		width: 960px;
		margin-top: -120px;
	}
}
.home-project__image--right {
	// , style: "width:960px;margin-left:60px;margin-top:-120px"
	// @media only screen and (min-width: $screen-md-min) {
	// 	margin-top: -90px;
	// }
	// @media only screen and (min-width: $screen-lg-min) {
	// 	margin-top: -120px;
	// }
	// @media only screen and (min-width: $screen-md-min) {
	// 	margin-left: 16px;
	// }
	@media only screen and (min-width: $screen-lg-min) {
		margin-left: 48px;
	}
}
.home-project__image--left {
	// , style: "width:960px;margin-left:-600px;margin-top:-120px"
	float: right;
	// @media only screen and (min-width: $screen-md-min) {
	// 	margin-right: 16px;
	// }
	@media only screen and (min-width: $screen-lg-min) {
		margin-right: 48px;
	}
}