// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Home Page — Writing
// stylesheets/custom/home/_writing.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home-writing {
	position: relative;
	margin-bottom: 300px;
}
.home-writing__tagline {
	position: relative;
	float: left;
	margin-top: 54px;
	margin-left: -42px;
	transform:rotate(270deg);
}
.home-post {
	position: relative;
	margin-top: 180px;
}
.home-post__shape--right {
	width: 300px;
	height: 300px;
	margin-top: -60px;
	margin-left: 360px;
	position: absolute;
	border: 4px solid white;
}
.home-post__shape--left {
	width: 300px;
	height: 300px;
	margin-top: 60px;
	margin-left: 240px;
	position: absolute;
	border: 4px solid white;
}



.home-post__title {
	margin-top: 80px;
	margin-bottom: 16px;
	@include font-size($font-size-500);
}
.home-post__description {
	line-height: 1.618;
	@include font-size($font-size-300);
}
.home-post__image {
	width: 600px;
}
.home-post__link {
	font-family: $font-family-secondary;
	padding-bottom: 4px;
	border-bottom: 2px solid $color-blue-dk;
}