// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Process Page — Phases
// stylesheets/custom/process/_phases.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.process-phase {
	margin-bottom: -40vh;
}
.process-phase__text {
	margin-bottom: 96px;
}
.process-phase__title {
	margin-bottom: 24px;
}
.process-phase__subtitle {
	font-family: $font-family-secondary;
}
.process-phase__description {
	line-height: 1.618;
	@include font-size($font-size-300);
}

.process-phase__shape-discovery {
	margin-left:18vw;
	width:120px;
}
.process-phase__shape-design {
	margin-top:-12vh;
	margin-left:3vw;
	opacity: 0.75;
}
.process-phase__shape-development {
	margin-top: -8vh;
	margin-left: 18vw;
}
.process-phase__shape-content {
	margin-top: 3vh	;
	margin-left: 9vw;
}
.process-phase__shape-testing {
	margin-top: 12vh	;
	margin-left: 12vw;
}
.process-phase__shape-launch {
	
}