// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Dixon & Moe Process Page — Header
// stylesheets/custom/process/_header.scss
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Text
.process-header__text {
	margin-top: 40vh;
}

// Shapes
.process-graphic__shapes {
	width: 100%;
	margin-top: 50vh;
}
.process-graphic__shape-start {
	margin-top: 30vh;
	margin-left: 5vw;
}
.process-graphic__shape-discovery {
	margin-top: 12vh;
	margin-left: 9vw;
}
.process-graphic__shape-design {
	margin-left: 13vw;
}
.process-graphic__shape-development {
	margin-top: 9vh;
	margin-left: 41vw;
}
.process-graphic__shape-content {
	margin-top: 18vh;
	margin-left: 68vw;
}
.process-graphic__shape-testing {
	margin-top: 68vh;
	margin-left: 60vw;
}

// .process-graphic__image {
// 	position: absolute;
// 	top: 0;
// 	width: 125%;
// }


// Grid
.process-graphic__grid {
	margin-top: 50vh;
}
.process-graphic__grid-col {
	display: block;
	float: left;
	width: 4.15%;
	height: 720px;
	border-left: 1px solid $color-gray-200;
}
.process-graphic__grid-col:last-child {
	width: 0%;
}
.grid-col-1-a {
	height: 705px;
	margin-top: 15px;
}
.grid-col-2-a {
	height: 690px;
	margin-top: 30px;
}
.grid-col-3-a {
	height: 705px;
	margin-top: 15px;
}
.grid-col-4-a {
	height: 720px;
	margin-top: 0;
}
.grid-col-5-a {
	height: 735px;
	margin-top: -15px;
}
.grid-col-6-a {
	height: 750px;
	margin-top: -30px;
}
.grid-col-7-a {
	height: 735px;
	margin-top: -15px;
}
.grid-col-8-a {
	height: 760px;
	margin-top: -40px;
}
.grid-col-9-a {
	height: 790px;
	margin-top: -70px;
}
.grid-col-10-a {
	height: 820px;
	margin-top: -100px;
}
.grid-col-11-a {
	height: 790px;
	margin-top: -70px;
}
.grid-col-12-a {
	height: 830px;
	margin-top: -110px;
}
.grid-col-13-a {
	height: 845px;
	margin-top: -125px;
}
.grid-col-1-b {
	height: 900px;
	margin-top: -120px;
}
.grid-col-2-b {
	height: 870px;
	margin-top: -90px;
}
.grid-col-3-b {
	height: 900px;
	margin-top: -120px;
}
.grid-col-4-b {
	height: 960px;
	margin-top: -180px;
}
.grid-col-5-b {
	height: 1020px;
	margin-top: -240px;
}
.grid-col-6-b {
	height: 990px;
	margin-top: -210px;
}
.grid-col-7-b {
	height: 960px;
	margin-top: -180px;
}
.grid-col-8-b {
	height: 1020px;
	margin-top: -240px;
}
.grid-col-9-b {
	height: 1080px;
	margin-top: -300px;
}
.grid-col-10-b {
	height: 1110px;
	margin-top: -330px;
}
.grid-col-11-b {
	height: 1080px;
	margin-top: -300px;
}
.grid-col-12-b {
	height: 1050px;
	margin-top: -270px;
}
.process-graphic__phases {
	margin-top: 32px;
}
.process-graphic__phase-title {
	text-align: right;
	font-family: $font-family-secondary;
	transform: rotate(270deg);
}
.process-graphic__phase-percent {
	position: relative;
	z-index: $z2;
	top: -84px;
	font-family: $font-family-secondary;
	@include font-size($font-size-200);
}