---
typeof: WebPage
title: Dixon &amp; Moe
description: A bespoke web design and development freelance outfit based in SF.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("meta/meta_index") %>
<% end %>

<%# Page Content %>
<article vocab="http://schema.org/" typeof="Article" class="home">

	<%# Page Header %>
  <header class="row">
  	<div class="col-xs-24 col-sm-16 col-sm-centered">
      <p property="name">Dixon & Moe</p>
      <h1>We help companies and startups optimize their marketing with design.</h1>
		</div>
	</header>

  <%# Page Section %>
  <section class="intro">
    <div class="row">
      <div class="col-xs-24 col-sm-16 col-sm-centered">
        <h6>HOW WE HELP YOU GROW</h6>
        <p>While beautiful design is awesome, design that converts is better. We work with startups and early stage companies to build a scalable marketing strategy with a strong reliance on design to attract and acquire more customers.</p>
      </div>
    </div>
  </section>

  <%# Page Section %>
  <section class="intro">
    <div class="row">
      <div class="col-xs-24 col-sm-16 col-sm-centered">
        <h6>MARKETING LESSONS YOU CAN USE TODAY</h6>
        <div class="link"><a>Why design is our favorite SEO technique</a></div>
        <div class="link"><a>Using web animation to drive customer acquisition</a></div>
      </div>
    </div>
  </section>


  <%# Page Section %>
  <section class="intro">
    <div class="row">
      <div class="col-xs-24 col-sm-16 col-sm-centered">
        <h6>FREE DESIGN TOOLS WE BUILT FOR YOU</h6>
        <div class="link">
          <a>HTMLArrows.com</a> <span>— A clean and colorful place for all the HTML symbol codes you can never seem to remember.</span>
        </div>
        <div class="link">
          <a>HTMLColorCodes.com</a> <span>— A clean and colorful place for all the HTML symbol codes you can never seem to remember.</span>
        </div>
      </div>
    </div>
  </section>

</article>