---
typeof: WebPage
title: Dixon &amp; Moe — Designers, Developers, Marketers
description: A bespoke web design and development freelance outfit based in SF.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("meta/meta_index") %>
<% end %>

<%# Page Content %>
<article vocab="http://schema.org/" typeof="Article" class="home">

	<%# Page Header %>
  <header class="row">
    <div class="row">
      <div class="col-xs-24 col-sm-12">
        <h1>Designers &<br>
          Developers &<br>
          Marketers
        </h1>
      </div>
      <div class="col-xs-24 col-sm-10 col-sm-offset-2">
        <span class="dash"></span>
        <p>While beautiful design is awesome, design that converts is better. We work with startups and early stage companies to improve their branding, code, and marketing to get more customers.</p>
      </div>
    </div>
	</header>

  <%# Page Section %>
  <section class="gray" id="work">
    <div class="row">
      <div class="col-xs-24 col-sm-24">
        <h6>OUR WORK</h6>
        <h2>Companies we've worked with</h2>
      </div>
      <div style="clear:both"></div>
      <div class="col-sm-8">
        <div class="base-image" style="background: #39ace6">
          <img src="/assets/images/teespring.svg">
        </div>
        <h3>Teespring</h3>
        <h4>UI Design, Frontend Code, A/B Testing</h4>
        <p>As the first designer at Teespring, Moe oversaw the frontend re-write from php to Rails. In the process every public facing page was designed, coded and A/B tested before going live—all in 8 weeks.</p>
      </div>
      <div class="col-sm-8">
        <div class="base-image" style="background: #0272b7">
          <img src="/assets/images/aptible.svg">
        </div>
        <h3>Aptible</h3>
        <h4>Marketing, Design, Animation</h4>
        <p>Working directly with Sam Yount (VP of marketing), we designed and built the <a href="https://www.aptible.com/technology/">technology page</a>, designed ads, and built the new <a href="https://www.aptible.com/company/resources/#hipaa-badges-section">"Powered by Aptible"</a> badge to help drive customer aquisition.</p>
      </div>
      <div class="col-sm-8">
        <div class="base-image" style="background: #fff">
          <img src="/assets/images/groove.svg">
        </div>
        <h3>Groove</h3>
        <h4>UI Design, A/B Testing</h4>
        <p>With the product and content marketing on point, Groove needed an updated marketing site. Collaborating with the CEO Alex, we designed and A/B tested the <a href="http://groovehq.com/">entire site</a> from the ground up. (Oct 2015)</p>
      </div>
    </div>
  </section>


  <%# Page Section %>
  <section style="padding: 4em 0 6em;" class="home-blog" id="blog">
    <div class="row">
      <div class="col-xs-24 col-sm-16 col-sm-centered">
        <h6 style="margin-bottom:5em">WRITING</h6>
        <div class="link">
          <a href="http://zeppelin.io/blog/best-architecture-websites-part-1">Best Architecture Websites</a> <span>— Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</span>
        </div>
        <div class="link">
          <a href="http://zeppelin.io/work/stanley-saitowitz">Stanley Saitowitz Case Study</a> <span>— We worked together with the SF based firm to iterate a series of design concepts and ultimately created a site that is refined, easy to use and places emphasis on their incredible work.</span>
        </div>
        <div class="link">
          <a href="https://medium.com/@moeamaya/on-marketing-to-designers-7186904fcdbd">On Marketing to Designers</a> <span>— Based on our particular observations we’d like to propose four methods that are effective when marketing to designers.</span>
        </div>
      </div>
    </div>
  </section>


  <%# Page Section %>
  <section class="gray" id="fun">
    <div class="row">
      <div class="col-xs-24 col-sm-24">
        <h6>SIDE PROJECTS</h6>
        <h2>Cool things we've made</h2>
      </div>
      <div style="clear:both"></div>
      <div class="col-sm-8">
        <div class="base-image" style="background: #f3f4f8">
          <img src="/assets/images/htmlcolorcodes.svg">
        </div>
        <h3>HTML Color Codes</h3>
        <h4>HTML Color picking made easy</h4>
        <p>Get HTML color codes, HEX color codes, RGB and HSL values with our color picker, color charts and HTML color names
          <br><br>
          <a href="http://htmlcolorcodes.com/">Visit the site &rarr;</a>
        </p>
      </div>
      <div class="col-sm-8">
        <div class="base-image" style="background: #a03741">
          <img src="/assets/images/htmlarrows.svg">
        </div>
        <h3>HTML Arrows</h3>
        <h4>HTML Symbols, entities, and codes</h4>
        <p>Why HTML Arrows? Because we wanted a clean and colorful place for all the html symbol codes we could never seem to remember.
          <br><br>
          <a href="http://htmlarrows.com/">Visit the site &rarr;</a>
        </p>
      </div>
      <div class="col-sm-8">
        <div class="base-image" style="background: #fff">
          <img src="/assets/images/monograph.svg">
        </div>
        <h3>Monograph</h3>
        <h4>Design technologist publication</h4>
        <p>Monograph is a place for projects — A site to show and view work by creatives, technologists, makers and designers.
          <br><br>
          <a href="http://monograph.io/">Visit the site &rarr;</a>
        </p>
      </div>
    </div>
  </section>

</article>