<%# Page Content %>
<article vocab="http://schema.org/" typeof="Article" class="typsetting">

  <%# Page Header %>
  <header class="row">
    <div class="col-sm-12">
      <h1>Typesetting</h1>
      <p>Fonts are hella overrated. I'm not trying to blow my whole design budget on typefaces. So I designed a bunch of typesetting layouts with generic browser serif and sans-serif fonts.</p>
    </div>
  </header>

  <section class="section-typesetting" style="background: #EAECF0">
    <div class="row">
      <div class="col-sm-24">
        <h3 style="
          font-size: 11px;
          letter-spacing: 10px;
          color: rgba(0,0,0,0.25);">
        STORYTELLER</h3>
        <h1 style="
        ">
        &
        </h1>
        <p>This is the beginning of a most adverturous romance</p>
        <a style="
        display:block;
        margin-top:3em;
        font-weight:bold">
        READ MORE ➞</a>
      </div>
    </div>
  </section>

  <section class="section-typesetting" style="background: #060335; color: #fff; text-align: center">
    <div class="row">
      <div class="col-sm-24">
        <h3 style="
          font-size: 10px;
          letter-spacing: 3px;
          color: rgba(255,255,255,0.7);">
        STORYTELLER</h3>
        <h1 style="
        ">
        &
        </h1>
        <p style="
        font-family: serif;
        font-size: 22px;
        letter-spacing: 0.05em;
        color: rgba(255,255,255,0.5);
        ">This is the beginning of a most adventurous romance</p>
        <a style="
        display: block;
        margin-top: 8em;
        font-size: 11px;
        letter-spacing: 0.8em
        ">READ MORE ➞</a>
      </div>
    </div>
  </section>


  <section class="section-typesetting" style="background: #444; color: #fff; text-align: center">
    <div class="row">
      <div class="col-sm-24">
        <h3 style="
          font-size: 11px;
          letter-spacing: 10px;
          color: rgba(0,0,0,0.25);">
        STORYTELLER</h3>
        <h1 style="
        font-weight: 100;
        font-size: 200px;
        line-height: 1.2;
        letter-spacing: -0.04em;
        color: rgba(255,255,255,0.3)
        ">
        &
        </h1>
        <p style="
          letter-spacing: 0.05em;
        ">This is the beginning of a most adventurous romance</p>
        <a style="
          display: block;
          margin-top: 18px;
          color: rgba(255,255,255,0.3);
        ">READ MORE ➞</a>
      </div>
    </div>
  </section>


  <section class="section-typesetting" style="background: #fff; color: #222;">
    <div class="row">
      <div class="col-sm-24">
        <h3 style="
          font-size: 80px;
          letter-spacing: -0.04em;">
        STORYTELLER</h3>
        <h1 style="
        ">
        &
        </h1>
        <p style="
        font-family: serif;
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0.05em;
        ">This is the beginning of a most adventurous romance</p>
        <a style="
        display: block;
        margin-top: 8em;
        font-size: 11px;
        letter-spacing: 0.8em;
        font-weight: bold;
        ">READ MORE ➞</a>
      </div>
    </div>
  </section>


  <section class="section-typesetting" style="background: #271002; color: #fff; text-align: center">
    <div class="row">
      <div class="col-sm-24">
        <h3 style="
          font-size: 10px;
          letter-spacing: 3px;
          color: rgba(255,255,255,0.7);">
        STORYTELLER</h3>
        <h1 style="
        ">
        &
        </h1>
        <p style="
        font-family: serif;
        font-size: 132px;
        letter-spacing: -0.01em;
        line-height: 1;
        color: rgba(255,255,255,0.5);
        ">This is the beginning of a most adventurous romance</p>
        <a style="
        display: block;
        margin-top: 8em;
        font-size: 11px;
        letter-spacing: 0.8em
        ">READ MORE ➞</a>
      </div>
    </div>
  </section>


  <section class="section-typesetting" style="background: #fff; color: #222;">
    <div class="row">
      <div class="col-sm-24">
        <h3 style="
          font-size: 80px;
          letter-spacing: -0.04em;
          line-height: 1">
        Storyteller</h3>
        <p style="
        font-size: 80px;
        letter-spacing: -0.04em;
        line-height: 1;
        ">This is the beginning of a most adventurous romance</p>
        <a style="
        display: block;
        margin-top: 7em;
        font-size: 18px;
        letter-spacing: 0.1em;
        font-weight: bold;
        ">Read More ➞</a>
      </div>
    </div>
  </section>



</article>